@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&family=Kaushan+Script&family=Montserrat:ital,wght@0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: aliceblue;
  font: 16px/28px "Be Vietnam Pro", Arial, Helvetica, sans-serif;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  display: block;
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  transition: 0.4s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
  position: relative;
}

.title-section {
  margin-bottom: 40px;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0.6px;
  text-align: center;
}

.btn-primary {
  padding: 12px 24px;
  background-color: #ee8313;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #9c5406;
}

.btn-secondary {
  padding: 12px 24px;
  border: 1px solid #ee8313;
  color: #ee8313;
  font-weight: 600px;
  line-height: 24px;
}

/* Header */

#header-section {
  padding: 40px 0 107px;
}

.header {
  display: flex;
  justify-content: space space-between;
  align-items: center;
  font-weight: 600;
}

.header-logo__img {
  width: 48px;
  height: 48px;
}

.nav-main {
  margin-left: auto;
}

.nav-main__list {
  display: flex;
  gap: 48px;
  margin-right: 72px;
}

.nav-main__link:hover {
  color: #ee8313;
}

/* Banner */

#banner-section {
  padding-bottom: 60px;
  position: relative;
  overflow: hidden;
}

.banner {
  max-width: 475px;
  padding-top: 40px;
}

.banner__header {
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0.6px;
}

.banner__text {
  margin: 32px 0 48px;
  font-size: 17px;
  color: rgb(255 255 255 / 80%);
}

.banner__links-wrap {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 48px;
}

.banner-features_text {
  font-weight: 600;
  line-height: 24px;
}
.banner-features_text:first-child {
  margin-right: 40px;
}

.banner-features_text__strong {
  margin-right: 16px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1px;
  vertical-align: sub;
}

.banner_img {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
}

.banner_img::before {
  position: absolute;
  z-index: 2;
  content: "";
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background: url(img/baner-main.png) no-repeat;
}
.banner_img::after {
  background-color: rgba(52, 52, 52, 0.3);
  z-index: 1;
  position: absolute;
  content: "";
  width: 90%;
  height: 90%;
  right: 0;
  top: 0;
}

/* RENT */

#rent-section {
  padding: 120px 0;
}

.rent-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.rent {
  position: relative;
  font-weight: 600;
  height: 524px;
  background: url(img/rent.jpg) 50% / cover no-repeat;
}

.rent:nth-child(2) {
  background-image: url(img/rent_2.jpg);
}

.rent:nth-child(3) {
  background-image: url(img/rent_3.jpg);
}

.rent:nth-child(4) {
  background-image: url(img/rent_4.jpg);
}

.rent__name {
  position: absolute;
  top: 48px;
  left: 48px;
  font-size: 40px;
  letter-spacing: 0.6px;
}

.rent__link {
  position: absolute;
  bottom: 48px;
  padding-right: 30px;
  right: 60px;
  font-size: 24px;
  letter-spacing: 0.6px;
}

.rent__link::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0px;
  width: 8px;
  height: 16px;
  transform: translateY(-50%);
  background: url(img/arrow.svg) 50% / cover no-repeat;
}

.rent__link:hover {
  color: #ffcc2c;
}

/* Services */

#services-section {
  padding-bottom: 120px;
}

.services-section-title {
  margin-bottom: 66px;
  text-align: left;
}

.services-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.services__img {
  margin-bottom: 24px;
}

.services__title {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
}

.services__text {
  margin-bottom: 16px;
  color: rgb(255, 255, 255 / 80%);
  line-height: 28px;
}

/* Destination */

#destination-section {
  padding-bottom: 162px;
}

.destination-section__title {
  width: 591px;
  margin: 0 auto 40px;
}

.destination-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.destination {
  background-color: #171717;
  border: 1px solid #171717;
}

.destination-info {
  padding: 24px;
}

.destination__title {
  font-size: 24px;
  line-height: 32px;
}

.destination__text {
  margin: 10px 0 25px;
  color: rgb(255, 255, 255 / 80%);
}

.destination__price {
  position: relative;
  display: block;
  padding-left: 42px;
  font-weight: 600;
  margin-bottom: 17px;
}

.destination__price::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  background: url(img/car_icon.svg) no-repeat;
  transform: translateY(-50%);
}

.destination__link {
  color: #ee8313;
}

.destination__link:hover {
  color: #ffcc2c;
}

/* Location */

#location-section {
  padding-bottom: 102px;
}

/* Footer */

#footer-section {
  padding-top: 40px;
  background-color: #1f1905;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.footer-logo-wrap {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 64px;
  font-weight: 600px;
}

.footer-about__img {
  width: 48px;
  height: 48px;
}

.footer-about__text {
  max-width: 235px;
  line-height: 32px;
  font-size: 18px;
}

.footer-nav-wrap {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  margin-right: 100px;
}

.footer-nav__header {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 20px;
}

.footer-nav__item {
  margin-bottom: 28px;
  line-height: 20px;
  color: rgb(255 255 255 / 80%);
}

.footer-nav__link {
  color: rgb(255 255 255 / 80%);
  font-weight: 400;
}

.footer-nav__link:hover {
  color: #ffcc2c;
}

.footer-social__link {
  display: block;
  width: 120px;
  height: 30px;
  margin-bottom: 45px;
  background: url(img/social_1.svg) 50% / cover no-repeat;
}

..footer-social {
  margin-top: 32px;
}

.footer-social__link:nth-child(2) {
  background: url(img/social_2.svg) 50% / cover no-repeat;
}

.footer-social__link:nth-child(3) {
  background: url(img/social_3.svg) 50% / cover no-repeat;
}

.footer-copyright {
  background-color: #ee8313;
  padding: 20px 0;
}

.footer-copyright__text {
  text-align: center;
}
