.card-testimonial {
  border-radius: 5px;
  overflow: hidden;
  max-width: 350px;
  transition: 0.4s;

  &:hover {
    box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08);
  }
}

.card-testimonial__body {
  padding: 30px;
}

.card-testimonial__text {
  margin-bottom: 23px;
}
.card-testimonial__name {
  font-size: 18px;
  font-weight: 700;
}
.card-testimonial__city {
  color: #58bebf;
  transition: 0.4s;
}

.card-testimonial__city:hover {
  color: #f78434;
}

.card-testimonial__img-wrapper {
  position: relative;
}

.card-testimonial__button-play {
  position: absolute;
  right: 20px;
  bottom: 20px;
  transform: translateY(50%);
  opacity: 0;
  transition: 0.4s;

  .card-testimonial:hover & {
    transform: translateY(0%);
    opacity: 1;
  }
}

.card-testimonial__button-svg {
  circle {
    fill: #fff;
    transition: 0.4s;
  }

  path {
    fill: #f78434;
    transition: 0.4s;
  }

  &:hover {
    circle {
      fill: #f78434;
    }

    path {
      fill: #fff;
    }
  }
}
