.serve {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f6fa;
}
.serve__heading {
  margin-bottom: 45px;
  text-align: center;

  .title {
    margin-bottom: 10px;
  }
}

.serve__row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 30px;
}
